*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}
.todo-app h2{
    color: #1729f3;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* text-align: center; */
}
.todo-app h2 img{
    width: 40px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 40px;
    background: #0cf378;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 40px ;
    user-select: none;
    cursor: pointer;
    position: relative;


}
ul li::before{
    content: '';
    position: absolute;
    height: 27px;
    width: 26px;
    border-radius: 50%;
    background-image: url(https://th.bing.com/th/id/R.32929400b4463c05eb5eecc775068783?rik=uQTuPUzTh%2btc1g&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_137194.png&ehk=4%2b0u%2bepAjyWSEiezHaFm3TJRkl4NuVbvo4xMSVEuFdo%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 7px;

}
ul li.checked{
    columns: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(https://th.bing.com/th/id/OIP.uq2KNtjtbEEORjpPABE5mAHaHa?pid=ImgDet&rs=1);
    
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}